daemon            off;
worker_processes  2;
user              root;

events {
    use           epoll;
    worker_connections  128;
}

http {
    upstream backend {
        {% for host in groups['prod'] %}
        server {{host}};
        {% endfor %}
    }
}