http {
    upstream calWeb {
        least_conn;
        {% for host in groups[prod] %}
        {{ item }}
        {% endfor %}
    }

    server {
        listen 80;

        location / {
            proxy_pass http://calWeb;
        }
    }
}