http {
    upstream calWeb {
        least_conn;
        {% for host in groups['prod'] %}
{{hostvars[host]['ansible_default_ipv4']['address']}};
        {% endfor %}
    }
    server {
        listen 80;

        location / {
            proxy_pass http://calWeb;
        }
    }
}
